<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets1.drugstorenews.com/styles/hero/s3/2021-06/handshake-hero.jpg?itok=moVjH2S4);">
  <div class="container" >
    <h1 style="color: white">Servicio confirmado</h1>
  </div>
</div>
<br>
<div class="container" >
  <h5>El escuchador te contactara pronto.</h5>
  <br>
  <h5>Pronto recibiras un <strong> correo!</strong>.</h5>
  <br>
  <h5>Haz click abajo para seguir viendo otros servicios disponibles.</h5>
  <br>
  <%= link_to "Volver al inicio!", root_path, class: "btn btn-gradient"%>
  <%#= link_to "services", "services#index" %>
</div>
