<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoAbCbTbcc8_O5jpIEeEHDOT2Kv_8sfkpafA&usqp=CAU);">
  <div class="container" >
    <h1 style="color: white">Reservar servicio disponible</h1>
  </div>
</div>
<br>
<div class="container" >
  <h5>El escuchador te contactara pronto.</h5>
  <h5>Si necesitas cancelar tu cita recuerda hacerlo con <strong> al menos 24 horas de antelación</strong>.</h5>
  <br>
  <h5>Haz click aca para seguir viendo servicios disponibles.</h5>
  <br>
  <%= link_to "services", "services#index" %>
</div>
